.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px auto 0 auto;
    max-width: 1200px;


    h1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        text-transform: uppercase;
        color: $carbon;

        small {
            display: none;
            text-transform: lowercase;
            color: $night;
            &.active {
                display: block;
            }
        }
    }

    .to-channels {
        position: relative;
        display: none;
        margin: 0;
        &.active {
            display: block;
        }
        button {
            @include button();
        }
    }
}