@import './spinner.css';

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

body {
    background: #cceecc;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}