// Main Colors
$sky: #30B6DD;
$grass: #9BC837;
$carbon: #5B5A59;

// Secondary Colors
$night: #525462;
$cobalt: #577CE6;
$lavanda: #8A7CBB;
$fuchsia: #CD5485;
$fire: #FF4E33;
$sun: #FFA21D;
$white: #ffffff;
$black: #000000;
$grey: #cecfcf;

// Background colors
$bg-sky: #adedf7;

//Common settings
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;   
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: $bg-sky;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

@mixin button() {
    display: block;
    padding: 15px 40px;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: $carbon;
    background: $grass;
    cursor: pointer;
    &:hover {
        color: $white;
        background: rgb(141, 175, 67);
        transition: all 0.4s;
    }
}

// imports

@import './components/spinner/spinner.scss';
@import './components/header/header.scss';
@import './components/channelList/channelList.scss';
@import './components/loadButton/loadButton.scss';